/* start common coding  */

@font-face {
  font-family: AlfaSlabOne-Regular;
  src: url("../fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #3d2514;
}

/* header start  */

header {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  padding: 35px 0;
  z-index: 999;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

.logo {
  width: 11%;
  float: left;
}

.logo a img {
  width: 100%;
}

.menu {
  margin-top: 10px;
  width: 70%;
  float: right;
}

.menu ul {
  float: right;
}

.menu ul li {
  list-style: none;
  float: left;
}

.menu ul li a {
  margin: 0 50px;
  padding: 2px 1px 1px;
  display: inline-block;
  font-family: BebasNeue-Regular;
  font-size: 20px;
  color: #3d2514;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

.menu ul li:last-child a {
  margin-right: 0;
}

.menu ul li a:hover {
  border-color: #3d2514;
}

/* header end  */

/* banner start  */

.banner {
  padding: 80px 0;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_text {
  margin-top: 265px;
  width: 40%;

  float: left;
}

.banner_text p {
  padding: 12px 24px;
  display: inline-block;
  font-family: BebasNeue-Regular;
  font-size: 23px;
  color: #3d2514;
  border: 3px dashed #3d2514;
}

.cmn_txt {
  font-family: AlfaSlabOne-Regular;
  text-transform: uppercase;
  text-shadow: 6px 5px 0px #fee7ba;
  text-shadow: 6px 5px 0px #fee7ba;
}

.banner_text h1 {
  margin: 35px 0 5px;
  font-size: 114px;
  line-height: 125px;
  letter-spacing: 5px;
}

.banner_text h2 {
  font-size: 56px;
  line-height: 65px;
  letter-spacing: 2px;
}

.banner_food {
  position: relative;
  width: 55%;
  float: right;
}

.banner_food img {
  width: 100%;
}

.offer {
  margin-top: -196px;
  margin-left: 58px;
  position: absolute;
  left: 0;
  bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 174px;
  font-family: BebasNeue-Regular;
  color: #fff;
  outline: 2px dashed #fff;
  outline-offset: -16px;
  border-radius: 50%;
  background-color: #bf2222;
}

.offer h3 {
  font-size: 60px;
  margin-bottom: -10px;
  letter-spacing: 3px;
}

.offer h3 span {
  font-size: 30px;
}

.offer h4 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
/* banner end  */

/* feature start  */

.feature {
  padding: 78px 0;
}

.container2 {
  margin: 0 auto;
  overflow: hidden;
  width: 84%;
}

.common {
  padding: 30px 25px;
  font-family: BebasNeue-Regular;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 8px;
}

.common h3 {
  font-size: 25px;
  letter-spacing: 2px;
}

.common h2 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 2px;
}

.feature_left {
  width: 48%;
  height: 426px;
  background-image: url("../images/feature1.jpg");
  float: left;
}

.feature_right {
  width: 48%;
  float: right;
}

.right_one {
  height: 192px;
  background-image: url("../images/feature2.jpg");
}

.right_two {
  margin-top: 42px;
  height: 192px;
  background-image: url("../images/feature3.jpg");
}

/* feature end  */

/* product start  */
.product {
  padding-bottom: 100px;
}

.product_header {
  margin: 0 auto;
  width: 65%;
  text-align: center;
}

.product_header h3 {
  margin-bottom: 28px;
  padding: 10px 20px;
  display: inline-block;
  font-family: BebasNeue-Regular;
  font-size: 25px;
  letter-spacing: 1px;
  background-color: #ffc045;
}

.title {
  margin-bottom: 20px;
  font-family: AlfaSlabOne-Regular;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cmn_para {
  line-height: 28px;
}

.products {
  overflow: hidden;
  margin-top: 80px;
}

.single_product {
  width: 30%;
  text-align: center;
  float: left;
  margin-right: 5%;
}

.single_product:last-child {
  margin-right: 0;
}

.product_img {
  margin-bottom: 20px;
}

.product_img img {
  width: 100%;
}
.single_product h2 {
  font-family: BebasNeue-Regular;
  font-size: 37px;
  letter-spacing: 2px;
}

.product_para {
  padding: 0 60px;
}

.cmn_btn {
  font-family: AlfaSlabOne-Regular;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #bf2222;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.cmn_btn:hover {
  background-color: #ffc045;
}

.product_btn {
  margin-top: 30px;
  width: 198px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

/* product end  */

/* story start  */

.story {
  padding: 30px 0 80px;
}

.story_container {
  padding: 30px 30px 30px 60px;
  box-shadow: 12px 12px 20px rgba(175, 175, 175, 0.6);
}

.story_content {
  margin-top: 20px;
  width: 40%;
  float: left;
}

.subtitle {
  font-family: BebasNeue-Regular;
  font-size: 30px;
  letter-spacing: 2px;
}

.story_title {
  font-size: 42px;
}

.story_para {
  font-size: 20px;
  line-height: 32px;
}

.story_image {
  width: 54%;
  float: right;
}

.story_image img {
  width: 100%;
}

/* story end  */

/* contact start  */

.contact {
  position: relative;
  padding: 60px 0 120px;
}

.container3 {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.contact_text {
  text-align: center;
  margin-bottom: 80px;
}

.form_group {
  overflow: hidden;
  margin-bottom: 30px;
}

.form_group:last-child {
  margin-bottom: 0;
}

.form_group input,
.contact_btn {
  width: 48%;
  border-radius: 4px;
}

.form_group input {
  padding-left: 20px;
  height: 60px;
  font-family: Montserrat-Bold;
  outline: none;
  border: 1px solid #bebebe;
}

.form_group input:first-child {
  float: left;
}

.form_group input:last-child,
.form_group button {
  float: right;
}

.form_group input::placeholder {
  text-transform: uppercase;
  color: #8d8d8d;
}

.contact_btn {
  height: 60px;
}

.common_p {
  position: absolute;
}

.common_p img {
  width: 100%;
}

.position1 {
  top: -65px;
  left: -78px;
}
.position2 {
  top: 195px;
  left: 180px;
}
.position3 {
  bottom: -220px;
  right: 0;
}

/* contact end  */

/* footer start  */

footer {
  padding: 100px 0;
}

.footer_img {
  padding: 40px;
  color: #fff;
  background: url("../images/footer.jpg") center no-repeat;
  background-size: cover;
}

.overflow {
  overflow: hidden;
}

.footer_texts,
.footer_link,
.copyright,
.social {
  width: 34%;
}

.footer_texts,
.copyright {
  float: left;
}

.footer_link,
.social {
  float: right;
}

.footer_texts p {
  margin-top: 45px;
}

.footer_link {
  margin-top: 177px;
}

.footer_link ul li {
  display: flex;
  align-items: center;
  column-gap: 30px;
  list-style: none;
  margin-bottom: 15px;
}

.footer_link ul li:last-child {
  margin-bottom: 0;
}

.copyright {
  margin-top: 15px;
}

.footer_bottom {
  margin-top: 160px;
}

.social_links {
  float: right;
  padding: 10px 0;
}

.social_links li {
  margin-right: 12px;
  float: left;
  list-style: none;
  transition: 0.3s;
}

.social_links li:last-child {
  margin-right: 0;
}

.social_links li:hover {
  transform: translateY(-3px);
}

/* footer end  */

/* banner start  */
/* banner end  */

/* banner start  */
/* banner end  */
